/* header */

header {
    position: sticky;
    top: 0;
    z-index: 999;

    background-color: rgb(255, 255, 255);
    padding: 18px;

    display: grid;
    
    grid-template-columns: 40px 1fr;
    align-items: center;
}

header h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 1rem;
}

#btnNav {
    display: none;

    background: none;
    border: none;
    cursor: pointer;
}

#btnNav img {
    width: 40px;
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0;
}

nav li {
    flex: 1;
    max-width: 180px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    min-height: 60px;

    text-decoration: none;
    color: #000;
    font-weight: bold;

    transition: .3s;
}


nav a:hover {
    color: #303030;
    background-color: #b2b2b2;
}

/*media querys*/

@media (max-width: 700px) {

    #btnNav{
        display: block;
        margin: auto;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    nav {
        display: none;

        position: absolute;
        top: 80px;
        left: 0;

        width: 100%;

        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    nav.activo {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        max-width: 100%;
    }

    nav a {
        width: 100%;
        justify-content: flex-start;
        padding-left: 20px;
    }

}