@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400&family=Jost:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  background: #250902;
  color: #F5EFE6;
  font-family: inherit;
  font-weight: 300;
  padding: auto;
  padding-top: 6rem;
}

/* Busqueda */
.search-wrap {
  max-width: 680px;
  margin: 0 auto 2rem;
}

.search-box {
  display: flex;
  border: 1px solid #250902;
  background: #2a1208;
}

.search-box input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  color: #f5efe6;
  font-size: 0.85rem;
}

.search-box button {
  background: none;
  border: none;
  border-left: 1px solid #250902;
  color: #F5EFE6;
  padding: 0 1rem;
  cursor: pointer;
}

#filterCategory {
  background-color: #2a1208;
  color: #F5EFE6;
  border: 1px solid #250902;
  text-align: center;
}


select:focus {
  outline: none;
  border: 1px solid #250902;
}

select option {
  background: #2a1208;

}


/* paquetes */

#packages {
  max-width: 680px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;

}
#packages-container{
  overflow-y: auto;
   max-height: 530px;
   scroll-behavior: smooth;
}
#packages-container::-webkit-scrollbar {
    width: 8px;
}

#packages-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
 .package-card {
  background: #403a31;
  margin-bottom: 2.5rem;
  margin-right: 2rem;
  border-radius: 3%;
  cursor: pointer;
}

.package-card h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.package-card p {
  margin-left: 1rem;
}

.package-card button {
  background: #5a544c;
  color: #F5EFE6;
  border: none;
  padding: 0.25rem;
  border-radius: 10%;
  margin-bottom: 0.50rem;
  margin-right: 0.50rem;
  cursor: pointer;
}



.package-card .card-footer {
  display: flex;
  justify-content: flex-end;
}

.details-card {
  background: #403a31;
  border-radius: 10px;
  align-items: center;
  max-width: 500px;
  height: 530px;
  text-align: center;
  padding-bottom: 1.35rem;
  border: #403a31;
}

.details-card h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-top: 1rem;
}

.details-card .description {
  text-align: center;
  margin-bottom: 1rem;
}

.details-card p {
  margin-left: 1rem;
  text-align: left;
}

.details-card li {
  list-style: none;
  margin-left: 1rem;
  background: #5a544c;
  border-radius: 10%;
  margin-top: 1rem;
  margin-right: 0.90rem;
}

.details-card img {
  margin-top: 1rem;
  width: 90%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.details-card ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

hr {
  border: 1px solid#F5EFE6;
  width: 100%;
  margin-top: 3rem;
}

