* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e9e1e1;
    color: #000000;
}

/* header */

header {
    background-color: white;
    padding: 18px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0;
}

nav li {
    flex: 1;
    max-width: 180px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    min-height: 60px;

    text-decoration: none;
    color: #000;
    font-weight: bold;

    transition: .3s;
}

nav a:hover {
    color: #303030;
    background-color: #b2b2b2;
}

/* carrusel de fotos */

.carrusel {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.slide.activo {
    opacity: 1;
}

/* hero */

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background-color: white;
}

.hero h2 {
    color: #000000;
    margin-bottom: 1rem;
}



/* ejemplos */

#ejemplos {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;
    gap: 1.5rem;
}

#ejemplos h2 {
    grid-column: 1 / -1;
    text-align: center;
}

#ejemplos article {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

#ejemplos img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

#ejemplos h3 {
    text-align: center;
    padding: 1rem;
}

/* footer */

footer {
    background-color: #fafafa;
    color: rgb(77, 77, 77);
    text-align: center;
    padding: 2rem;
}

footer h2 {
    margin-bottom: 1rem;
}


@media (max-width: 700px) {


    header h1 {
        font-size: 1.8rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        width: 90%;
        max-width: 300px;
    }

    nav a {
        width: 100%;
    }
    #ejemplos {
        grid-template-columns: 1fr;
    }
}